<div id="footer" class="container-fluid">
    <div class="row h-100" style="text-align:center;">
        <div class="col-12 my-auto">
            <span class="d-block d-sm-inline-block">qudghk1219@naver.com</span>
            <span class="d-none d-sm-inline-block"> | </span>
            <span class="d-block d-sm-inline-block">Powered By Github & Hexo</span>
        </div>
    </div>
</div>