<div id="header" class="container">
    <div class="row h-100">
        <div class="col-12 my-auto">
            <span id="title"><%= config.title %></span><br>
            <span id="subTitle"><%= config.subtitle %></span>
        </div>
    </div>
</div>