<div id="header" class="container-fluid clearfix">
    <a id="logo" href="/">
        <span id="title"><%= config.title %></span>
        <span id="subTitle"><%= config.subtitle %></span>
    </a>
    <ul id="nav" class="clearfix">
        <li class=""><a href="/archives/">Blog Home</a></li>
        <li class=""><a href="/profile/">Profile</a></li>
    </ul>
</div>