<div id="header" class="container-fluid clearfix">
    <div id="logo">
        <span id="title"><%= config.title %></span>
        <span id="subTitle"><%= config.subtitle %></span>
    </div>
    <ul id="nav" class="clearfix">
        <li class=""><a href="/archives/">Blog Home</a></li>
        <li class=""><a href="/profile/">Profile</a></li>
    </ul>
</div>