/*noinspection CssUnknownTarget*/
/*@font-face {
    font-family: 'D2Coding';
    font-style: normal;
    font-weight: 400;
    src: local('D2Coding'),
    url('/font/D2Coding.eot'),
    url('/font/D2Coding.eot?#iefix') format('embedded-opentype'),
    url('/font/D2Coding.woff2') format('x-woff2'),
    url('/font/D2Coding.woff') format('woff'),
    url('/font/D2Coding.ttf') format('truetype'),
    url('/font/D2Coding.svg') format('svg');
}*/

/*noinspection CssUnknownTarget*/
/*@font-face {
    font-family: 'D2Coding';
    font-style: normal;
    font-weight: 700;
    src: local('D2Coding'),
    url('/font/D2CodingBold.eot'),
    url('/font/D2CodingBold.eot?#iefix') format('embedded-opentype'),
    url('/font/D2CodingBold.woff2') format('x-woff2'),
    url('/font/D2CodingBold.woff') format('woff'),
    url('/font/D2CodingBold.ttf') format('truetype'),
    url('/font/D2CodingBold.svg') format('svg');
}*/
/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

* {
    font-family: 'Noto Sans KR', sans-serif;
}
.bold {
    color:white;
    font-weight:700;
}